<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    <script src="{{ '/js/navigation.js' | prepend: site.baseurl }}" defer></script>
    <script src="{{ '/js/experience-accordion.js' | prepend: site.baseurl }}" defer></script>
    <script src="{{ '/js/carousel-modal.js' | prepend: site.baseurl }}" defer></script>
    <script src="{{ '/js/contact-modal.js' | prepend: site.baseurl }}" defer></script>
    <script src="{{ '/js/main.js' | prepend: site.baseurl }}" defer></script>

  </body>

</html>
